Variable Outline:
1. Introduction to variable
2. declaring and assigning variables
3. Naming conventions
4. understanding variable types
5. type checking and conversion
6. Dynamic Typing
7. Practical examples and common errors

In [4]:
# declaration of variable:
age=5
print("your age is",age)

your age is 5

In [8]:
# Naming convention
# variable name should be descriptive,they must always start with letter or underscore, and contain letter, number , variable name are case sensitive

name=4
Name=6
name==Name

False

In [9]:
# Understanding variable types:
## Python is dynamically typed language bcz type of the variable is determined at run time.
age=23 #int
height=455.5 #float
name="sameer" #str
isStudent=True #bool

In [11]:
# Type checking and conversion
type(height)

float

In [16]:
age=25
print(age)
# type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

25
25
<class 'str'>

In [18]:
name="Sameer"
int(name) #error

ValueError: invalid literal for int() with base 10: 'Sameer'

In [21]:
# Dynamic Typing
# python allows the type of a variable to change as the program executes
var=10
print(var,type(var))
var="hello"
print(var,type(var))
var=3.34
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.34 <class 'float'>

In [24]:
# input
age=input("enter number here")
print(age,type(age))

45 <class 'str'>

In [27]:
# input
age=int(input("enter number here"))
print(age,type(age))

4 <class 'int'>

In [29]:
# simple calcualtor
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
sum=num1+num2
sub=num1-num2
mul=num1-num2
div=num1/num2
mod=num1%num2
power=num1**num2
print(sum)
print(sub)
print(mul)
print(div)
print(mod)
print(power)

123
-11
-11
0.835820895522388
56
1344614559271622566824800732229716351875020113299212275576507703675689698287414197971049976570006821814534516387086336