Outline:
basic datatypes:
1. integer
2. floating-point numbers
3. Strings
4. Booleans

Advanced Datatypes:
1. Lists
2. tuples
3. sets
4. Dictionaries

type conversion

In [3]:
bool_type=True
type(bool_type)

bool

In [5]:
is_True=bool() # be default return false
is_True

False

In [7]:
a=10
b=10
a==b

True

In [9]:
a=10
b=10
type(a==b)

bool

In [11]:
# common errors
result="hello"+5    # return error TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [12]:
# common errors
result="hello"+str(5)
print(result)

hello5